<div class="jumbotron">
    <div class="container">
        <h1>Want to track you favorite bus? </h1>
        <%# <p>Are you ready to learn about sharks?</p> %>
        <hr>
        <p>Stop wasting time waiting for your bus</p>
        <br>
        <p>
            <%= button_to 'Start Tracking', new_rider_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Realtime Bus Tracking</h3>
            <p>Favebus uses the MTA Bus Stop API to fetch the latest bus informmation and provide you with the exact location of your upcoming bus.
            </p>
            <%# <h3>Not all sharks are alike</h3>
            <p>Though some are dangerous, sharks generally do not attack humans. Out of the 500 species known to researchers, only 30 have been known to attack humans.
            </p> %>
        </div>
        <div class="col-lg-6">
            <h3>An Ongoing project</h3>
            <p>We'd love to allow everyone track their favorite bus and bus stop, but we are currently testing with limited routes.
            </p>
            <%# <h3>Sharks are ancient</h3>
            <p>There is evidence to suggest that sharks lived up to 400 million years ago.
            </p> %>
        </div>
    </div>
</div>
