<%= form_for @bus_route do |f| %>
<div><%= f.label :bus_stop %></div>
<div><%= f.collection_select(:route, @bus_stops, :stop_id, :stop_name) %></div>
<div><%= f.submit "See Upcoming Buses" %></div>
<% end %>
