<% content_for :content do %>
    <div class="jumbotron text-center">
        <h1>Rider Info</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= yield %>
                </p>
            </div>
            <div class="col-lg-6">
                <p>

                    <div class="caption">No more wasting time for your next bus. Yay! </div>
                    <%# <img src="https://assets.digitalocean.com/articles/docker_node_image/sammy.png" alt="Sammy the Shark"> %>
                    <img src="https://live.staticflickr.com/698/32329252885_97a8b9be85_b.jpg" alt="Bus Picture">
                </p>

            </div>
        </div>
    </div>
    <% end %>
        <%= render template: "layouts/application" %>

